{
  "root": true,
  "extends": "@react-native-community",
  "ignorePatterns": [
    "coverage/**"
  ],
  "rules": {
    "radix": "off",
    "no-alert": "off",
    "no-useless-escape": "off",
    "camelcase": "warn",
    "comma-dangle": "warn",
    "max-depth": [
       "error",
      4
    ],
    "vars-on-top": "error",
    "max-len": [
      "error",
      400
    ]
  }
}
// extends: 'react-native-typescript',
