{
	"root": true,
	"extends": "@react-native-community",
	"rules": {
	  "radix": "off",
	  "no-alert": "off",
	  "no-useless-escape": "off",
	  "prettier/prettier": 0
	}
  }
  // extends: 'react-native-typescript',
