{
	"root": true,
	"extends": "@react-native-community",
	"ignorePatterns": ["coverage/**"],
	"rules": {
		"radix": "off",
		"no-alert": "off",
		"no-useless-escape": "off",
	}
}
// extends: 'react-native-typescript',
